!!! 5
html.no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title TestEleven
    meta(name="description", content="testeleven web development description")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    // build:css /styles/main.css
    link(href="/styles/main.css", rel="stylesheet")
    // endbuild

    // build:js /scripts/modernizr.js
    script(src="/bower_components/modernizr/modernizr.js")
    script(src="/scripts/grunticon.loader.js")
    // endbuild

    noscript
      link(href="/styles/icons.fallback.css")

  body.page
    #root
      .container
        //-include default-partials/_header
        block content
      #root_footer
    #footer
      include default-partials/_footer

      // build:js /scripts/main.js
      script(src="/bower_components/jquery/jquery.js")
      script(src="/scripts/main.js")
      // endbuild
